{% extends 'base.html' %}

{% block head %}
<title>Hyper-V</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center;">Test</h1>
    <form action="/test" method="POST">
        IP:<input type="text" name="ip" id="ip"><br>
        Username:<input type="text" name="username" id="username"><br>
        Password:<input type="password" name="password" id="password"><br>

        <input type="submit" value="Submit">
    </form>

    {% for test in tests %}
    <li>{{test.ip}}</li>
    <li>{{test.username}}</li>
    <li>{{test.password}}</li>
    {% endfor %}
</div>

{% endblock %}